<footer>
    <h2>Informations de la Société</h2>
    <p>Nom de la société: Knowledge Learning</p>
    <p>Adresse: Piccadilly Circus,75000 Paris, France</p>
    <p>Adresse de Contact: Knowledge-Learning@blabla.com</p>
    <p>&copy; 2025 Knowledge Learning - Tous droits réservés</p>
</footer>