.formation-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 2rem;
}

.formation-card{
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.formation-card h2{
    margin-bottom: 15px;
}

.formation-card .btn-formation{
    background-color: #00497c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
}

.formation-card .btn-formation:hover{
    background-color: #384050;
}