.formation-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 2rem;
}

.formation-card{
    width: 20%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.formation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.formation-card h2{
    margin-bottom: 15px;
}
.progress_theme-container {
    margin: 10px 0;
    width: 50%;
}

.progress_theme-bar {
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.progress_theme-fill {
    background-color: #82b864;
    height: 100%;
}

.progress_theme-text {
    text-align: center;
    font-size: 14px;
    color: #555;
}


.formation-card .btn-formation{
    background-color: #00497c;
    color: #f1f8fc;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
}

.formation-card .btn-formation:hover{
    background-color: #384050;
}