/* Général */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f8fc;
    position: relative;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    max-height: 50px;
}

figcaption {
    padding-left: 1rem;
    color:#00497c;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-toggle {
    display: none;
}

.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #0074c7;
    font-weight: bold;
}

.navbar a:hover{
    padding: 4px 8px;
    border-radius: 8px;
    text-decoration: none;
    color:#f1f8fc;
    background-color: #384050;
}

/* Responsive tablette/mobile */
@media screen and (max-width: 1024px) {
    figcaption {
        padding-top: 1rem;
    }
    .navbar ul {
        display: none;
        align-items: center;
        flex-direction: column;
        background-color: #f1f8fc;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 20px;
        border-top: 2px solid #ccc;
        z-index: 10;
    }

    .menu-icon {
        display: block;
    }

    .menu-toggle:checked+.menu-icon+.navbar ul {
        display: flex;
    }

    .navbar li {
        margin-bottom: 10px;
    }

    .navbar a {
        color: #0074c7;
        font-size: 18px;
    }
    .navbar a:hover{
        padding: 4px 8px;
        border-radius: 8px;
        text-decoration: none;
        color:#f1f8fc;
        background-color: #384050;
    }
}